<!-- <!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Contact email</title>
    <link rel="stylesheet" href="../css/contact.css">
  </head>

  <body>
    <div class="container"><br />
      <h1>Kontaktförfrågan</h1><br />
      
  </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <script src=https://kit.fontawesome.com/28ec47744a.js crossorigin=anonymous></script>
  <script src=https://smtpjs.com/v3/smtp.js></script>
  <title>Matilda Höglund</title>
  <link href=/css/app.6b925179.css rel=preload as=style>
  <link href=/js/app.30adca04.js rel=preload as=script>
  <link href=/js/chunk-vendors.9aff8016.js rel=preload as=script>
  <link href=/css/app.6b925179.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
</body>

</html>