<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Contact Email</title>
    <link rel="stylesheet" href="../css/contactConfirmation.css" />
    <script src="https://kit.fontawesome.com/28ec47744a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-container">
          <img src="../assets/logo_full_white.svg" alt="logga" />
        </div>
      </header>
      <div class="contact-message">
        <h1>Hej {{firstName}}</h1>
        <p>Tack för ditt meddelande,</p>
        <p>vi kontaktar dig inom 24h</p>
      </div>
      <div class="contact-message">
        <h2>Med vänliga hälsningar</h2>
        <p>Laddboxkillarna kundtjänst</p>
      </div>
      <footer>
        <div class="footer-adress">
          <span>Laddboxkillarna AB</span>
          <span>Östra Eriksbergsgatan 85A</span>
          <span>417 62 Göteborg</span>
        </div>
        <div class="footer-social-media">
          <a target="_blank" href="https://instagram.com/laddboxkillarna?utm_medium=copy_link"><img src="../assets/instagram.svg" alt="instagram"></a>
          <a target="_blank" href="https://www.facebook.com/Laddboxkillarna-101947058713590/"><img src="../assets/facebook.svg" alt="facebook"></a>
        </div>
      </footer>
    </div>
  </body>
</html>
