<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Contact Email</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      html {
        font-family: "Raleway", sans-serif;
        height: 100%;
      }

      body {
        margin: 30px;
      }

      td {
        padding: 3px;
      }

      .content {
        max-width: 600px;
        width: 100%;
      }
    </style>
  </head>

  <body width="100%">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      id="bodyTable"
    >
      <tr>
        <td align="center" valign="top">
          <table
            class="content"
            border="0"
            cellpadding="20"
            cellspacing="0"
            id="emailContainer"
          >
            <tr>
              <td
                style="background-color: #121212; height: 60px"
                align="center"
                valign="center"
              >
                <table
                  border="0"
                  cellpadding="20"
                  cellspacing="0"
                  width="100%"
                  id="emailHeader"
                >
                  <tr>
                    <td align="left" valign="center">
                      <img
                        style="width: 250px; height: auto; margin-left: 10px; display: block;"
                        src="https://www.test.laddboxkillarna.se/_nuxt/img/logo_full_white.72d6bea.svg"
                        alt="logga"
                        title="Logga"
                      />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table
                  border="0"
                  cellpadding="20"
                  cellspacing="0"
                  width="100%"
                  id="emailBody"
                >
                  <td height="50"></td>
                  <tr>
                    <th align="center" valign="top">Hej {{firstName}}</th>
                  </tr>
                  <tr>
                    <td align="center" valign="top">
                      Tack för ditt meddelande,
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top">
                      Vi kontaktar dig inom 24h
                    </td>
                  </tr>
                  <td height="50"></td>
                  <tr>
                    <th align="center" valign="top">Vänliga hälsningar</th>
                  </tr>

                  <tr>
                    <td align="center" valign="top">
                      Kundservice Laddboxkillarna
                    </td>
                  </tr>
                  <td height="50"></td>
                </table>
              </td>
            </tr>
            <tr>
              <td
                style="background-color: #121212; height: 100px"
                align="center"
                valign="top"
              >
                <table
                  border="0"
                  cellpadding="20"
                  cellspacing="0"
                  width="100%"
                  id="emailFooter"
                >
                  <td height="20"></td>

                  <tr>
                    <td
                      style="color: white; font-size: 14px"
                      align="center"
                      valign="top"
                    >
                      Laddboxkillarna AB
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="color: white; font-size: 14px"
                      align="center"
                      valign="top"
                    >
                      Östra Eriksbergsgatan 85A
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="color: white; font-size: 14px"
                      align="center"
                      valign="top"
                    >
                      417 62 Göteborg
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="color: white; font-size: 14px"
                      align="center"
                      valign="top"
                    >
                      <a
                        style="
                          color: white;
                          font-size: 14px;
                          text-decoration: underline;
                        "
                        href="tel:031-250100"
                      >
                        031-25 01 00</a
                      >
                    </td>
                  </tr>
                  <td height="20"></td>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
