<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Contact Email</title>
    <script
      src="https://kit.fontawesome.com/28ec47744a.js"
      crossorigin="anonymous"
    ></script>
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      html {
        font-family: "Raleway", sans-serif;
        height: 100%;
      }

      body {
        margin: 50px;
      }

      td {
        padding: 3px;
      }
    </style>
  </head>

  <body width="100%">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      id="bodyTable"
    >
      <tr>
        <td align="center" valign="top">
          <table
            border="0"
            cellpadding="20"
            cellspacing="0"
            width="600"
            id="emailContainer"
          >
            <tr>
              <td
                style="background-color: #121212; height: 60px"
                align="center"
                valign="top"
              >
                <table
                  border="0"
                  cellpadding="20"
                  cellspacing="0"
                  width="100%"
                  id="emailHeader"
                >
                  <tr>
                    <td align="center" valign="top">
                      <!-- <img src="cid:logo_image123" alt="logga"> -->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table
                  border="0"
                  cellpadding="20"
                  cellspacing="0"
                  width="100%"
                  id="emailBody"
                >
                  <td height="30"></td>
                  <tr>
                    <th style="font-size: 20px" align="left" valign="top">
                      Tack {{firstName}} för din beställning,
                    </th>
                  </tr>
                  <td height="10"></td>
                  <tr>
                    <td align="left" valign="top">Vi kontaktar dig inom 24h</td>
                  </tr>
                  <td height="20"></td>
                  <tr>
                    <td>
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                      >
                        <tr>
                          <th style="font-size: 20px" valign="top" align="left">
                            Din beställning
                          </th>
                        </tr>
                        <td height="10"></td>
                        <tr>
                          <th valign="top" align="left">Kontaktuppgifter</th>
                        </tr>
                        <tr>
                          <td valign="top" align="left">
                            {{firstName}} {{lastName}}
                          </td>
                        </tr>
                        <tr>
                          <td valign="top">
                            <a href="`mailto:${email}`">{{email}}</a>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" align="left">{{phoneNr}}</td>
                        </tr>
                        <td height="10"></td>
                        <tr>
                          <th valign="top" align="left">
                            Installation på adress
                          </th>
                        </tr>
                        <tr>
                          <td valign="top" align="left">{{adress}}</td>
                        </tr>
                        <tr>
                          <td valign="top" align="left">{{postNr}}</td>
                        </tr>
                        <tr>
                          <td valign="top" align="left">{{ort}}</td>
                        </tr>
                        <td height="5"></td>
                        <tr>
                          <td valign="top" align="left">
                            Övriga upplysningar: {{information}}
                          </td>
                        </tr>
                        <td height="5"></td>
                        <tr>
                          <td valign="top">Laddbox färg: {{color}}</td>
                        </tr>
                        <td height="5"></td>
                        <tr>
                          <td valign="top">Konsultation: {{consultation}}</td>
                        </tr>
                        <td height="5"></td>
                        <tr>
                          <td valign="top">Laddkabel: {{charging_cable}}</td>
                        </tr>
                        <td height="10"></td>
                        <tr>
                          <td valign="top">
                            Jag har tagit del av och accepterar avtalsvillkoren:
                            Ja
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <td height="20"></td>
                  <tr>
                    <th style="font-size: 20px" align="left" valign="top">
                      Vänliga hälsningar
                    </th>
                  </tr>
                  <tr>
                    <td align="left" valign="top">
                      Kundservice Laddboxkillarna
                    </td>
                  </tr>
                  <td height="20"></td>
                </table>
              </td>
            </tr>
            <tr>
              <td
                style="background-color: #121212; height: 100px"
                align="center"
                valign="top"
              >
                <table
                  border="0"
                  cellpadding="20"
                  cellspacing="0"
                  width="100%"
                  id="emailFooter"
                >
                  <td height="20"></td>

                  <tr>
                    <td
                      style="color: white; font-size: 14px"
                      align="center"
                      valign="top"
                    >
                      Laddboxkillarna AB
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="color: white; font-size: 14px"
                      align="center"
                      valign="top"
                    >
                      Östra Eriksbergsgatan 85A
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="color: white; font-size: 14px"
                      align="center"
                      valign="top"
                    >
                      417 62 Göteborg
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="color: white; font-size: 14px"
                      align="center"
                      valign="top"
                    >
                      <a
                        style="
                          color: white;
                          font-size: 14px;
                          text-decoration: underline;
                        "
                        href="tel:031-250100"
                      >
                        031-25 01 00</a
                      >
                    </td>
                  </tr>
                  <td height="20"></td>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
