<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Order email</title>
    <style>
      html {
        font-family: 'Raleway', sans-serif;
        height: 100%;
      }

      tr td {
        margin: 5px;
      }
    </style>
  </head>

  <body>
    <table border="0" cellpadding="0" cellspacing="0" height="auto" width="50%">
      <td height="40"></td>
      <tr>
        <th valign="top" align="left">Beställning Laddbox</th>
      </tr>
      <td height="10"></td>
      <tr>
        <th valign="top" align="left">Kontaktuppgifter</th>
      </tr>
      <tr>
        <td valign="top" align="left">{{firstName}} {{lastName}}</td>
      </tr>
      <tr>
        <td valign="top">
          <a href="`mailto:${email}`">{{email}}</a>
        </td>
      </tr>
      <tr>
        <td valign="top" align="left">{{phoneNr}}</td>
      </tr>
      <td height="10"></td>
      <tr>
        <th valign="top" align="left">Installation på adress</th>
      </tr>
      <tr>
        <td valign="top" align="left">{{street}}</td>
      </tr>
      <tr>
        <td valign="top" align="left">{{postNr}}</td>
      </tr>
      <tr>
        <td valign="top" align="left">{{state}}</td>
      </tr>
      <td height="5"></td>

      <td height="5"></td>
      <tr>
        <td valign="top" align="left">Övriga upplysningar: {{information}}</td>
      </tr>
      <td height="5"></td>
      <tr>
        <td valign="top">Laddbox färg: {{color}}</td>
      </tr>
      <td height="5"></td>
      <tr>
        <td valign="top">Konsultation: {{consultation}}</td>
      </tr>
      <td height="5"></td>
      <tr>
        <td valign="top">Laddkabel: {{charging_cable}}</td>
      </tr>
      <td height="10"></td>
      <tr>
        <td valign="top">Har tagit del av och accepterar integritetspolicy: Ja</td>
      </tr>
    </table>
  </body>
</html>
