* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  width: 700px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
}

header {
  background: #121212;
  height: 80px;
  display: flex;
  align-items: center;
}

h1, h2 {
    margin: 10px 30px;
}

p, span {
    margin: 5px 30px;
}


.logo-container {
  padding: 20px;
  width: 245px;
}

img {
  width: 100%;
  height: auto;
}

footer {
  color: #fbf9ff;
  background: #121212;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.footer-adress {
  display: flex;
  flex-direction: column;
}

.footer-social-media {
  display: flex;
  width: 200px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

span {
    font-size: 14px;
}

a {
    margin: 10px;
}
